# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{scss,css}]
indent_style = tab
indent_size = 3

[*.md]
indent_style = space
indent_size = 4

[*.cmd]
end_of_line = crlf

[*.svelte]
quote_type = auto
indent_style = tab
indent_size = 3
